body {
  background-color: lavender;
  font-family: monospace;
  display: grid;
  grid-template-columns: 1fr 70% 1fr;
  grid-template-rows: 160px 1fr;
}
img {
  height: 150px;
}
#wrapperHeader {
  place-self: center;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  width: 70%;
  height: 150px;
  display: flex;
  flex-direction: row;
  background-color: skyblue;
  margin-bottom: 30px;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
}
.wholepage {
  place-self: center;
  width: 60%;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
.form {
  width: 400px;
}
